#invitation {
  max-width: 100%;
  margin: 35vmax auto;

  font-family: 'university-cyrillic', serif;
}

#invitation .content {
  margin: 0 2rem;
  padding: 5vw;
  min-width: 60vw;

  font-size: min(4rem, 10vw);
  line-height: 80%;
}

#invitation p {
  margin: 1.5rem auto;
}

#invitation span.recipient,
#invitation input.recipient {
  margin-top: 2rem;
  line-height: 100%;
  color: var(--clr-invitation-name);
  font-size: inherit;
  font-family: 'pudelinka', serif;
}

#invitation input.recipient {
  max-width: 25%;
  background-color: transparent;
}