#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
  min-height: 100vh;

  font-family: 'pudelinka', serif;
}

#landing .heading {
  margin: 0 10vw;
  padding: 15vh 8vw 10vh;
  min-width: 80vw;

  font-size: min(10rem, min(20vw, 30vh));
  line-height: 80%;
  font-weight: 100;
}

#landing .heading span {
  font-size: 150%;
  line-height: 150%;
}