#program {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vh;

  margin: 0 10vw;

  font-family: 'disneypark', serif;
}

#program .headline {
  width: 100%;
  margin-bottom: 4rem;

  font-size: min(10rem, 30vw);
}

#program article {
  flex: 1 1 auto;
  align-self: stretch;
  margin: 0 1rem;
  padding: 2vw;
}

#program article .caption {
  margin: 2rem auto;

  color: var(--clr-primary-600);
  font-family: 'disneypark', serif;
  font-size: min(9rem, 16vw);
  font-weight: 100;
}

#program article .description {
  margin: 1.5rem auto;

  font-family: 'university-cyrillic', serif;
  font-size: min(4rem, 10vw);
  font-weight: 100;
}

#program article .sub-description {
  position: relative;
  margin-top: 0.5rem;

  font-size: min(2rem, 8vw);
  font-style: italic;
}

#program article .sub-description::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-primary-800);
}