#program {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vh;

  margin: 0 10vw;

  color: var(--clr-program-text);
  font-family: 'disneypark', serif, sans-serif, monospace;
  text-align: center;
}

#program .headline {
  width: 100%;
  margin-bottom: 4rem;

  font-size: min(10rem, 30vw);
  font-weight: 500;
}

#program article {
  flex: 1 1 auto;
  align-self: stretch;
  margin: 0 1rem;
  padding: 2vw;

  background-color: var(--clr-background-bubble);
  border-radius: 50px;
  box-shadow: 10px 10px 40px var(--clr-background-bubble), -10px -10px 40px var(--clr-background-bubble);
}

#program article .caption {
  margin: 2rem 0;

  font-family: 'disneypark', serif, sans-serif, monospace;
  font-size: min(9rem, 16vw);
  font-weight: 100;
}

#program article .description {
  margin: 1.5rem 0;

  color: var(--clr-program-description);
  font-family: 'university-cyrillic', serif, sans-serif, monospace;
  font-size: min(4rem, 10vw);
  font-weight: 100;
}

#program article .sub-description {
  position: relative;
  margin-top: 0.5rem;

  color: var(--clr-program-sub-description);
  font-size: min(2rem, 8vw);
  font-style: italic;
}

#program article .sub-description::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-program-sub-description);
}

#program .map-container {
  padding: 0.5rem;

  background-color: var(--clr-background-bubble);
  border-radius: 50px;
  box-shadow: 10px 10px 40px var(--clr-background-bubble), -10px -10px 40px var(--clr-background-bubble);
}

#program .map-name {
  margin: 1rem auto;
  padding: 0 2vw;

  color: var(--clr-program-map-name);
  font-family: 'university-cyrillic', serif, sans-serif, monospace;
  font-size: min(3rem, 10vw);
  font-weight: 100;
  font-style: italic;
}

#program .separator {
  margin: 1rem 100%;
  width: 100%;
  height: auto;
  max-width: 600px;
}

#program .separator:last-child {
  margin: 0 100%;
}

#program .map {
  padding: 2vw;
  width: 100%;
  height: 60vh;
  min-width: 60vw;
  border: none;
}