@font-face {
  font-family: 'disneypark';
  src: url('/assets/fonts/disneypark.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'university-cyrillic';
  src: url('/assets/fonts/university-cyrillic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'pudelinka';
  src: url('/assets/fonts/pudelinka.ttf') format('truetype');
  font-display: swap;
}

:root {
  --clr-background-bubble: rgba(255 255 255 / 0.7);
  --clr-landing-text: #33415a;
  --clr-landing-name: #33415a;
  --clr-invitation-text: #33415a;
  --clr-invitation-name: #33415a;
  --clr-program-text: #6591d4;
  --clr-program-description: #33415a;
  --clr-program-sub-description: #33415a;
  --clr-location-text: #33415a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color-scheme: light only;
  max-width: 100%;
}

body {
  background: url('/assets/images/background.png');
  background-color: white;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  border-radius: 100% 100% 0 0;
  background: #33415a;
}

footer p {
  margin: 2rem 1vw 0;
  color: white;
  font-family: 'disneypark', serif, sans-serif, monospace;
  font-size: min(2rem, 10vw);
  font-style: italic;
  text-align: center;
}